{% extends 'layouts/master.html.twig' %}

{% block title %}Affichage Formation 
{% endblock %}

{% block content %}
	<h1>Formation </h1>

	<table class="table table-stripped table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Date_debut</th>
				<th>Date_fin</th>
				<th>Formateur</th>
				<th>technologie</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for formation in formations %}
				<tr>
					<td>{{ formation.id }}</td>
					<td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
					<td>{{ formation.dateFin ? formation.dateFin|date('Y-m-d') : '' }}</td>
					<td>{{ formation.formateur }}</td>
					<td>{{ formation.technologie.nom}}</td>

					<td>
						<button class="btn btn-outline-primary" type="submit">
							<a href="{{ path('formation_show', {'id': formation.id}) }}">show</a>

						</button>
						{% if is_granted('ROLE_ADMIN') %}

							<button class="btn btn-outline-primary" type="submit">
								<a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

							</button>
						{% endif %}

					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}

		<button class="btn btn-outline-primary" type="submit">
			<a href="{{ path('formation_new') }}">Create new</a>

		</button>
	{% endif %}

{% endblock %}
