{% extends 'layouts/master.html.twig' %}

{% block title %}Affichage Formation
{% endblock %}

{% block content %}
	<h1>Formation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ formation.id }}</td>
			</tr>
			<tr>
				<th>Date_debut</th>
				<td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date_fin</th>
				<td>{{ formation.dateFin ? formation.dateFin|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Formateur</th>
				<td>{{ formation.formateur }}</td>
			</tr>
			<tr>
				<th>Technologie</th>
				<td>{{ formation.technologie.nom  }}</td>
			</tr>
		</tbody>
		<tfooter>
			<tr>
				<td>
					<button class="btn btn-info" type="submit">
						<a href="{{ path('formation_index') }}" class="text-white">back to list</a>

					</button>
				</td>
			</tr>
			{% if is_granted('ROLE_ADMIN') %}

				<tr>
					<td>
						<button class="btn btn-success" type="submit">
							<a href="{{ path('formation_edit', {'id': formation.id}) }}" class="text-white">edit</a>

						</button>
					</td>
				</tr>
			{% endif %}

		</tfooter>
	</table>
	{% if is_granted('ROLE_ADMIN') %}


		{{ include('formation/_delete_form.html.twig') }}
	{% endif %}

{% endblock %}
