{% extends 'layouts/master.html.twig' %}

{% block title %}Formation
{% endblock %}

{% block content %}
	<h1>Formation</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ formation.id }}</td>
			</tr>
			<tr>
				<th>Date_debut</th>
				<td>{{ formation.dateDebut ? formation.dateDebut|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Date_fin</th>
				<td>{{ formation.dateFin ? formation.dateFin|date('Y-m-d') : '' }}</td>
			</tr>
			<tr>
				<th>Formateur</th>
				<td>{{ formation.formateur }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('formation_index') }}">back to list</a>

	<a href="{{ path('formation_edit', {'id': formation.id}) }}">edit</a>

	{{ include('formation/_delete_form.html.twig') }}
{% endblock %}
