{% extends 'layouts/master.html.twig' %}

{% block title %}Les services
{% endblock %}

{% block content %}
	<h1>Services</h1>

	<table class="table table-stripped table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Titre</th>
				<th>Description</th>
				<th>Prix</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for service in services %}
				<tr>
					<td>{{ service.id }}</td>
					<td>{{ service.titre }}</td>
					<td>{{ service.description }}</td>
					<td>{{ service.prix }}
						DT
					</td>
					<td>
						<button class="btn btn-outline-primary">
							<a href="{{ path('service_show', {'id': service.id}) }}">show</a>

						</button>
						{% if is_granted('ROLE_ADMIN') %}
							<button class="btn btn-outline-primary">
								<a href="{{ path('service_edit', {'id': service.id}) }}">edit</a>
							</button>
						{% endif %}
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
	{% if is_granted('ROLE_ADMIN') %}
		<button class="btn btn-outline-primary">
			<a href="{{ path('service_new') }}">Create new</a>
		</button>
	{% endif %}
{% endblock %}
