{% extends 'layouts/master.html.twig' %}

{% block title %}
	Afficher Service
{% endblock %}

{% block content %}
	<h1>Service</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ service.id }}</td>
			</tr>
			<tr>
				<th>Titre</th>
				<td>{{ service.titre }}</td>
			</tr>
			<tr>
				<th>Description</th>
				<td>{{ service.description }}</td>
			</tr>
			<tr>
				<th>Prix</th>
				<td>{{ service.prix }}</td>
			</tr>
		</tbody>
		<tfooter>
			<tr>
				<td>
					<button class="btn btn-info" type="submit">
						<a href="{{ path('service_index') }}" class="text-white">back to list</a>

					</button>
				</td>
			</tr>
			<tr>
				{% if is_granted('ROLE_ADMIN') %}
					<td>
						<button class="btn btn-success" type="submit">
							<a href="{{ path('service_edit', {'id': service.id}) }}" class="text-white">edit</a>

						</button>
					</td>
				{% endif %}

			</tr>
			{#}
																		<tr>
																			<td>
																				{{ include('user/_delete_form.html.twig') }}
															
																			</td>
																		</tr> 
																		{#}
		</tfooter>
	</table>

	{% if is_granted('ROLE_ADMIN') %}
		{{ include('service/_delete_form.html.twig') }}
	{% endif %}
{% endblock %}
