{% extends 'layouts/master.html.twig' %}

{% block title %}Affichage d'utilisateur
{% endblock %}

{% block content %}
	<h1>Utilisateur
	</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Roles</th>
				<td>{{ user.roles ? user.roles|json_encode : '' }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ user.password }}</td>
			</tr>
			<tr>
				<th>Nom</th>
				<td>{{ user.nom }}</td>
			</tr>
			<tr>
				<th>Prenom</th>
				<td>{{ user.prenom }}</td>
			</tr>
			<tr>
				<th>Num_telephone</th>
				<td>{{ user.numTelephone }}</td>
			</tr>
		</tbody>
		<tfooter>
			<tr>
				<td>
					<button class="btn btn-info" type="submit">
						<a href="{{ path('user_index') }}" class="text-white">back to list</a>

					</button>
				</td>
			</tr>
			<tr>
				<td>
					<button class="btn btn-success" type="submit">
						<a href="{{ path('user_edit', {'id': user.id}) }}" class="text-white">edit</a>

					</button>
				</td>
			</tr>
			<tr>
				<td>
					{{ include('user/_delete_form.html.twig') }}

				</td>
			</tr>
		</tfooter>
	</table>


{% endblock %}
